* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-weight: 400;
    font-display: optional;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: hidden;
}

body {
    background: #929196;
}

.card {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  color: #39ff14;
  background: #000;
  border-radius: 5px;
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.weather-forecast .location {
  font-size: 1.75em;
}

.weather-forecast .date, .weather-forecast .description {
  font-size: 1.25em;
}

.current {
  margin-top: 25px;
  font-size: 2em;
}

.current > div {
  margin-bottom: .2em;
}

.current .temperature:before {
    content: "Temperature: ";
    color: #888;
}

.current .humidity:before {
    content: "Humidity: ";
    color: #888;
}


.header {
    width: 100%;
    height: 56px;
    color: #39ff14;
    background: #000;
    position: fixed;
    font-size: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 16px 16px 0 16px;
    will-change: transform;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    z-index: 1000;
}

    .header .headerButton {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        text-indent: -30000px;
        overflow: hidden;
        opacity: 0.54;
        -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
        transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .header #butRefresh {
        background: url(../images/ic_refresh_white_24px.svg) center center no-repeat;
    }

    .header #butAdd {
        background: url(../images/ic_add_white_24px.svg) center center no-repeat;
    }

.header__title {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.loader {
    left: 50%;
    top: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .loader #spinner {
        box-sizing: border-box;
        stroke: #673AB7;
        stroke-width: 3px;
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
        animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
    }

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@-webkit-keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.main {
    padding-top: 60px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.push {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.js-push-btn {
    padding: 20px 0;
    width: 100%;
    font-size: 1.4em;
   background-color: #39ff14;
   border-color: #37ff1467;
    color: rgb(80, 79, 79);
    border-radius: 10px;
}

.js-push-btn:hover {
    cursor: pointer;
}

.js-push-btn:disabled {
    color: rgb(128,128,128);
    background-color: rgb(221,221,221);
}

.js-push-btn:disabled:hover {
    cursor: not-allowed;
}

